nav{
   display: flex; 
   justify-content:space-around;
   padding: 25px 35px 10px 25px;
   box-sizing:border-box;
   background: rgba(75, 107, 156, 0.992);  
}

.image{
    width:120px;
    height:60px;
    background:none;
    border:none;
    cursor: pointer;
}

.iconButton{
background:none;
border:none;
}

button:active {
    outline: 0;
    transform: translateY(3px);
}