.card {
    margin: 35px;
    width: 15rem;
    height: 20rem;
    border-radius: 10px;
    display: inline-block;
    padding: 0.5em;
    border: 0.05rem solid #2665bcae;
    border-radius: 8px;
    background-color: rgba(244, 244, 227, 0.774); 
    
}

.card:hover {
    box-shadow: 8px 8px 20px 0px rgba(66, 68, 90, 1);
    transition: 1s;
    background-color: rgba(34, 109, 174, 0.488);
    cursor: pointer;
}

.cardName {
    margin-top: 0;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.cardImg {
    width: 100%;
    display: block;
}

.cardContainerTypes {
   display: flex;
   justify-content:center;
   color: #d7dfd1;
   border-radius: 50px;
}

.cardTypes {
    border-radius: 0.2rem;
    color: #d7dfd1;
    background-color: rgba(66, 103, 159, 0.852);
    width: 85px;
    margin: auto;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: 1px;
}

img{
    width:200px ;
    height:200px
}