.card {
    margin: 35px;
    width: 25rem;
    border-radius: 10px;
    display: inline-block;
    padding: 0.5em;
    border: 0.05rem solid #595550;
    border-radius: 8px;
    background-color: rgba(133, 133, 124, 0.5); 
    
}

.card:hover {
    box-shadow: 8px 8px 20px 0px rgba(66, 68, 90, 1);
    transition: 1s;
    background-color: rgba(251, 251, 247, 0.5);
    cursor: pointer;
}

.cardName {
    margin-top: 0;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.cardImg {
    width: 100%;
    display: block;
}

.cardContainerTypes {
   display: flex;
   
   justify-content:center;
   
    color: #d7dfd1
}

.cardTypes {
    /* display: inline-block; */
    /* margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.3rem; */
    border-radius: 0.2rem;
    color: #d7dfd1;
    background-color: rgba(117, 114, 64, 0.5);
    width: 5rem;
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
}

img{
    width:200px ;
    height:200px
   
}