.boxFilters{
   margin-top: 20px; 
}

select{
   background-color: rgba(239, 239, 239, 0.97);
    border-radius: 50px;
    padding: 8px 60px 8px 10px;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
}