.image {
        padding: 40px 40px 40px 40px;
        width:570px;
        height:410px;
        border:none;
}

.landingButton {
        position: relative;
        display: inline-block;
        padding: 20px 20px;
        color: #0b0b0c;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: -700px;
        letter-spacing: 4px;
        border-radius: 6px;
}

.landingButton:hover {
        cursor: pointer;
        background: #deded8;
        color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 5px #bdbeba,
        0 0 25px #918a87,
        0 0 50px #918a87,
        0 0 100px #918a87;
}

